h1 {
    color: blue;
}
img{
    width: 400px;
}
#thirdDiv{
    width: 500px;
    height: 600px;
    background-color: aquamarine;
    padding: 50px;
    border: 10px solid blueviolet;
    
}
.spanID{
    margin: 50px;
    font-size: 18px;
}
